/* Global ------------------------------- */
body {
	font-family: monospace;
}

dl {
    padding-left: 10px;
}

/*Canvas ------------------------------- */
#map {
    position: absolute;
    top: 30px;
    left: 40px;
    z-index: 500;
    width: 300px;
    height: 600px;
    
}


/* Classes ------------------------------- */
.edgeLoad-EDGE-36491964 { visibility:hidden; } /*required by edge animate*/

.container {
    width: 800px;
}

.center {
    width: 60%;
    margin: 0 auto !important;
    float: none !important;
}

/* IDs ------------------------------- */
#typebox {
	width: 475px;
	height: 50px;
	/*text-align: center;*/
    z-index: 10000;
    margin-top: 90px;
}

#backpack {
    position: absolute;
    height: 500px;
    width: 300px;
    z-index: 1;
    right: 40px;
    top: 250px;
    color: grey;
}

#game {
    height: 400px;
    width: 600px;
    z-index: 5000;
}

#title {
    font-size: 6em;
}

#foot {
    margin-top: 150px;
    margin-bottom: 10px;
    color: lightgrey;
    text-align: center;
}

#hints {
    color: inherit;
    cursor: help;
}

#foot a:hover{
    color: black;
    text-decoration: none;
}

#alerttext {
    font-size: 10;
    max-height: 100px;
    overflow: hidden;
}

#error {
    color: lightsalmon;
}

#success {
    color: lightgreen;
}

#neutral {
    color: lightgrey;
}

@media only screen and (max-width: 1268px) {
    #backpack {
        width: 200px;
    }

    #game {
        height: 300px;
        width: 400px;
    }

    #map{
        left: 1px;
    }

}

@media only screen and (max-width: 1090px) {
    #map{
        z-index: -1;
    }
}

@media only screen and (max-width: 946px) {
    .container{
        width: 700px;
        /*margin-left: -20px;*/
    }

    #backpack {
        visibility: hidden;
    }

    #map {
        visibility: hidden;
    }

    #game {
        
    }

    #title{
        margin-left: 50px;
    }
}

@media only screen and (max-width: 718px) {
    .container{
        width: 400px;
    }

    .EDGE-36491964 {
        visibility: hidden;
    }

    #backpack {
        visibility: hidden;
    }

    #map {
        visibility: hidden;
    }

    #game {
        height: 300px;
        width: 400px;
        margin-left: -70px;
    }

    #title{
        font-size: 4em;
        margin-left: 0;
    }

    #typebox {
        width: 375px;
        height: 40px;
        margin-left: -70px;
    }
}